<%- include('partials/_header') %>
    <h1>Edit</h1>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/update/<%= data.id %>" method="POST">
                            <div class="form-group">
                                <input type="hidden" name="_method" value="PUT" />
                                <input type="text" name="todo" class="form-control" value="<%= data.todo %> "
                                    placeholder="todo" />
                            </div>
                            <button class="btn byn-lg btn-info">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/_footer') %>