<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" />
    <title>Simpl Crud NodeJs-Mysql</title>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD NodeJs Mysql</a>
    </nav>